{{ form_start(form) }}
    {{ form_widget(form)}}
        <div class="d-grid gap">
            <input type="submit" value="{{ submitButtonText }}" class="btn btn-primary btn-block" formnovalidate>
        </div>
{{ form_end(form) }}