@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import 'shared/variables.scss';

@import '~bootstrap';

html,body{
    font-family: $primary-font, sans-serif;
}
.alert{
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 10px;
    color: #fff;
    text-align: center;

    &.alert-success{
    background-color: #1ab53b;
    }
    &.alert-error{
    background-color: #ec2404;
    }
    &.alert-info{
    background-color: #044aec;
    }
}
.vich-image .form-check{
    @extend .mt-3;
}
.vich-image img{
    @extend .mb-2, .rounded, .shadow, .img-thumbnail;
}
.pin img{
    transition: transform 0.3s ease-in-out;
    &:hover{
        transform: scale(1.075);
    }
}